import { Module } from '@nestjs/common';
import { PrismaModule } from '@puq/prisma';
import { <%- className %>Controller } from './<%- fileName %>.controller.js';

@Module({
  imports: [PrismaModule.forFeature({ resourceNames: ['<%- fileName %>'] })],
  controllers: [<%- className %>Controller],
})
export class <%- className %>Module {}
