import type { PrismaClient } from '../../../generated/index.js';
import { <%- className %> } from './data/<%- fileName %>.js';

export async function seeds(client: PrismaClient) {
  for (const item of <%- className %>) {
    try{ 
      await client.category.create(item);
    } catch(err){ 
      console.log(err);
    }
  }
}
